{% extends "main.html" %}
{% block title %}Delete {{manga_item}} {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<div>
<form class="inputform" action="#" method = "post">
	<p> Are you sure you wnat to delete "{{manga_item}}"</p>
	<div>
		<button class="button-delete" name="submit_button" value="delete">Delete</button>
		<button class="button-cancel" name="submit_button" value="cancel">Cancel</button>
	</div>
</form>
</div>
{% endblock %}